# --- Java & Build ---
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/

# --- Maven Wrapper (Mantener .mvn/ pero ignorar caches si existen) ---
!.mvn/wrapper/maven-wrapper.jar
.mvn/.develocity/

# --- Logs & Crash ---
*.log
hs_err_pid*
replay_pid*

# --- Angular & Node ---
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDEs & Editor Configuration ---
.idea/
*.iml
.vscode/
*.swp
*.bsl

# --- OS & Environment ---
.DS_Store
Thumbs.db
.env